BACKEND_URL='https://rose-app.elevate-bootcamp.cloud/api'
NEXTAUTH_SECRET='0d443b50b55796dac230b40e9fe7a80ab253c21a949e6b59dcfc9b9efa753c95'
NEXTAUTH_URL="http://localhost:3000"
BACKEND_URL="https://rose-app.elevate-bootcamp.cloud/api"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=